body {
  background-color: #171b1b;
  font-family: monospace;
  margin: 0 auto;
  color: #a6a6a6;
  padding: 0 20px; /* Her ekran genişliğinde biraz boşluk bırak */
  max-width: 800px; /* Maksimum genişlik 800px, ama ekran daha küçükse uyum sağla */
  font-size: 14px;
  box-sizing: border-box; /* padding genişliği toplam genişliğe dahil et */
  line-height: 1.5;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  color: #4fc144;
}

h3 {
  font-size: 16px;
  color: #4fc144;
}

footer p {
  position: relative;
  margin-top: 5%;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p a {
  text-decoration: none;
  font-weight: bold;
  color: #4fc144;
}

/* Paragraflar için Stil */
p {
  text-align: justify; /* Metni her iki yana yasla */
  text-justify: inter-word; /* Kelime aralıklarını ayarla */
}

a {
  text-decoration: none;
  color: #4fc144;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  background: #171b1b;
  border-left: 5px solid #4fc144;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

/* Navigasyon Bağlantıları Stili */
.navigation {
  border: 2px dotted #a6a6a6;
  list-style: none; /* Liste işaretlerini kaldır */
  padding: 10px; /* Varsayılan padding'i sıfırla */
  text-align: center; /* Metni ortala */
  margin-bottom: 8%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navigation li {
  display: inline; /* List item'ları yan yana getir */
  margin-right: 20px; /* Sağ boşluk ekle */
}

.navigation li a {
  color: #a6a6a6;
  text-decoration: none; /* Alt çizgiyi kaldır */
  font-weight: bold; /* Yazı tipini kalın yap */
}

.navigation li a:hover {
  text-decoration: underline; /* Üzerine gelindiğinde altını çiz */
}

.ascii-header a {
  display: inline-block; /* Allows for text-align to work on inline elements */
  text-decoration: none; /* Removes underline from the link */
  color: #4fc144; /* Sets the color */
}

.ascii-header {
  text-align: center; /* Centers the ASCII art */
  width: 100%; /* Ensures the section spans the full width */
  font-size: small;
}

.blog-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog-list a {
  text-decoration: none;
  line-height: 2;
}

.blog-list a:hover {
  text-decoration: underline;
}

.article-main-header {
  text-align: center;
}

/* Duyarlı tasarım için media queries */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px; /* Küçük ekranlarda font boyutunu koru */
    padding: 0 20px; /* Daha küçük ekranlarda biraz daha az boşluk bırak */
  }

  .ascii-header {
    font-size: 8px;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 12px; /* Çok küçük ekranlarda font boyutunu küçült */
    padding: 0 12px; /* Çok küçük ekranlarda daha az boşluk bırak */
  }

  .ascii-header {
    font-size: 8px;
  }

  header {
    padding: 0.5rem;
  }
}
